.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  height: 14.75;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  color: #000;
  font-family: Rational Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.4px;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.iconExternalIcon {
  margin-left: 0.5em;
}

.divider {
  width: 3rem;
}
